{% extends "base.html" %}
{% block htmltitle %}
    {{ term.name }}
{% endblock htmltitle %}
{% block content %}
    <ul class="list-group">
{% for page in term.pages %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <a href="{{ page.permalink }}">{{ page.title }}</a>
    <div>
    {% if page.taxonomies %}
        {% for tag in page.taxonomies.tags %}
        <a href="{{ config.base_url }}/tags/{{ tag }}"><span class="badge badge-primary">{{ tag }}</span></a>
        {% endfor %}
    {% endif %}
    </div>
    </li>
{% endfor %}
</ul>
{% endblock content %}

