.footer {
    background-color: #f8f9fa;
    padding: 1rem;
}

html {
    font-size: 18px;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0;
    }
}

body { padding-top: 40px; }

