<!--
- [Facebook]({{ config.extra.facebook }})
- [Signup]({{ config.extra.lsesu }})
- [Email]({{ config.extra.email }})
- [Instagram]({{ config.extra.instagram }})
- [LinkedIn]({{ config.extra.linkedin }})
- [GitHub]({{ config.extra.github }})
- [Zulip]({{ config.extra.zulip }})
- [Twitter]({{ config.extra.twitter }})
-->

<a href="{{ config.extra.lsesu }}" class="socials" target="_blank">
    <img src="/icons/lsesu.png" width="24" height="24">
    LSESU
</a>
</br>
<a href="{{ config.extra.email }}" class="socials" target="_blank">
    <img src="/icons/email.svg" width="24" height="24">
    Email
</a>
</br>
<a href="{{ config.extra.facebook }}" class="socials" target="_blank">
    <img src="/icons/facebook.svg" width="24" height="24">
    Facebook
</a>
</br>

<a href="{{ config.extra.instagram }}" class="socials" target="_blank">
    <img src="/icons/instagram.svg" width="24" height="24">
    Instagram
</a>
</br>

<a href="{{ config.extra.linkedin }}" class="socials" target="_blank">
    <img src="/icons/linkedin.svg" width="24" height="24">
    LinkedIn
</a>
</br>
<a href="{{ config.extra.github }}" class="socials" target="_blank">
    <img src="/icons/github.svg" width="24" height="24">
    Github
</a>
</br>
<a href="{{ config.extra.zulip }}" class="socials" target="_blank">
    <img src="/icons/zulip.png" width="24" height="24">
    Zulip
</a>
</br>
</br>

