{% extends "base.html" %}
{% block htmltitle %}
    {{ config.title }}
{% endblock htmltitle %}
{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
  	<div class="view overlay rounded-top">
  	<center> <img src = "society_banner_big.png" class="img-fluid"> </center>
  	<div class="mask rgba-white-slight"></div>
  </div>
  <!--hr class="my-4"-->
  </br>
  <div class="card-body text-center mb-3">
     <!--h2 class="card-title pb-2">Our Mission</h2-->
    <p class="lead"> <!-- <strong> We will build a data science community for LSE students.  </strong> <br/> -->
     Rebranded to the LSESU Data Science Society in 2020, we aim to <strong>build a Data Science community at LSE</strong>, and showcase the potential of data science</strong> across a <strong> range of fields.</strong> </p>
    <!--p class="lead">
    <a class="btn btn-primary btn-md" href="https://www.facebook.com/dsatlse" role="button"> Facebook</a>
    <a class="btn btn-primary btn-md" href="https://www.instagram.com/dsatlse" role="button">Instagram</a>
    <a class="btn btn-primary btn-md" href="https://www.lsesu.com/communities/societies/group/machinelearning/" role="button">Signup</a>
  	</p-->
  </br>
  </br>
    <a class="btn btn-success btn-lg" href="https://www.lsesu.com/communities/societies/group/machinelearning/" role="button">Sign up!</a>
  </div>
</div>
</div>

<hr> 

{% if config.extra.dsw_promo %}
  <div class="container">
    <div class="view overlay rounded-top">
    <center> <a href="{{ config.extra.dsw_link }}"><img src ='2020/event-banners/DSWBanner.png' class="img-fluid" height="75%"></a> </center>
    <div class="mask rgba-white-slight"></div>
  </div>
  <hr class="my-4">
  <div class="card-body text-center mb-3">
     <!--h2 class="card-title pb-2">Our Mission</h2-->
    <p class="lead"> {{ config.extra.dsw_about | safe }}  <br/>
    </p>
  </br>
  </br>
    <a class="btn btn-success btn-lg" href="{{ config.extra.dsw_eventbrite }}"target="blank" role="button">Eventbrite Link</a>
    <a class="btn btn-success btn-lg" href="{{ config.extra.dsw_link }}"target="blank" role="button">Event Page</a>
  </div>
</div>
<hr>
{% endif %}
<!--center><h2> What We Do </h2></center>
<div class="row row-cols-1 row-cols-md-2">
	<div class="col mb-4">
		<div class="card h-100">
			<a href = "#"><img src = "logo_circles.png" class="card-img-top"></a>
			<div class="card-body">
				<a href = "#"><h5 class="card-title"> Community </h5></a>
		    	<p class="card-text"> We have an online chatgroup for members where we share relevant careers events / postings, members can ask any questions about data science, or just discuss anything. </p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<a href = "#"><img src = "logo_circles.png" class="card-img-top"></a>
			<div class="card-body">
				<a href = "events/2020"><h5 class="card-title"> Events </h5></a>
		    	<p class="card-text"> We organise a variety of events, from inviting speakers from industry to discuss how data science is being utilised in their field, light-hearted socials, and our flagship event.</p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<a href = "#"><img src = "logo_circles.png" class="card-img-top"></a>
			<div class="card-body">
				<a href = "tags/workshop"><h5 class="card-title"> Education </h5></a>
		    	<p class="card-text"> We want workshops to tell stories and showcase different topics in data science and their applications to different fields. We also curate <a href = 'resources' >resources</a> for students to explore concepts further.</p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<a href = "#"><img src = "logo_circles.png" class="card-img-top"></a>
			<div class="card-body">
				<a href = "projects/2020"><h5 class="card-title"> Build </h5></a>
		    	<p class="card-text"> We want to encourage the hacker mindset - how to research, build and design solutions to problems using technology and data science - in both the Projects and our Engineering divisions. </p>
		  	</div>
		</div>
	</div>
</div-->

<center><h2> Join Us </h2></center>

<div class="row row-cols-1 row-cols-md-3">
	<div class="col mb-4">
		<div class="card h-100">
			<img src = "example_community.png" class="card-img-top">
			<div class="card-body">
			    <h5 class="card-title"> Community </h5>
		    	<p class="card-text"> Members can apply to participate in projects, gaining pratical data science skills and learning by doing through a structured project.</p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<img src = "example_events.png" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Events</h5>
		    	<p class="card-text"> The Events subcommittee is responsible for organising events and the day-to-day logistics and welfare of the society. </p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<img src = "example_partnerships.png" class="card-img-top">
			<div class="card-body">
            <h5 class="card-title"> Partnerships </h5>
		    	<p class="card-text">  The Partnerships committee is responsible for liasoning with external parties to secure funding / sponsorships. </p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<img src = "example_marketing.png" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Marketing </h5>
		    	<p class="card-text"> The marketing subcommittee is responsible for bringing awareness of our events through social media and other channels. </p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<img src = "example_projects.png" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Projects</h5>
		    	<p class="card-text"> The projects subcommittee is responsible for conducting technical projects in cooperation, often in collaboration with external mentors.</p>
		  	</div>
		</div>
	</div>
	<div class="col mb-4">
		<div class="card h-100">
			<img src = "example_education.png" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title">Education </h5>
		    	<p class="card-text"> The education subcommittee is responsible for developing learning resources and workshop materials. </p>
		  	</div>
		</div>
	</div>
</div>

<center><h2>FAQ</h2></center>

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What does the LSESU Data Science society do?
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        We organise <a href ="/events/2020"> events</a>, <a href = "/projects/2020"> projects </a> and a community
        platform to introduce members to the applications of data science in different fields and industries, and build a community for LSE students to learn, accelerate and support each other on their data science journeys. We’re also planning our first flagship event in late February where we’ll have a weekend of panels, workshops and challenges to help students level up in data science, gain project experience and grow their network!
     </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How much time commitment does being a member involve?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        For this term, our events and workshops take place on Zoom every Wednesday for one hour each - workshops at 11am-12pm UKT and events at either 1-2pm or 2-3pm UKT, but these are completely optional. If you’re selected to be part of one of our project teams, you’ll be expected to work on the project for 2-5 hours a week depending on the project. Subcommittee members are expected to commit 5 hours a week to complete tasks, attend meetings and facilitate events and workshops.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What do I get out of buying the membership?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        You’ll get to be part of our community - members get exclusive access to our Zulip workspace, where we share data science resources and opportunities every week, and where members can discuss data science topics, join round tables (co-working sessions) and form teams to do projects and hackathons together. We also have member-only socials once a term, and our flagship event will be member-restricted. You also have to be a member to apply to join our project teams and subcommittees.
      </div>
    </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How much does your membership cost?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          £3.50. You can buy our membership on the SU website here: <a href = "https://www.lsesu.com/communities/societies/group/machinelearning/"> https://www.lsesu.com/communities/societies/group/machinelearning/  </a>
        </div>
      </div>
    </div>

   <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            How can I receive updates from your society?
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Like and follow our social media pages

          After buying our membership, you will receive a weekly newsletter to your LSE email. In this you will find the link to join our Zulip workspace, and also feel free to join our members-only Facebook group: <a href ="https://www.facebook.com/groups/664688501064249"> https://www.facebook.com/groups/664688501064249 </a>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
